{% load crispy_forms_tags %}

<div class="modal-header bg-cyan-txt-darkblue">
    <h5 class="modal-title">
        {% if form.instance.pk %}
            Editar Servicio de Habitación
        {% else %}
            Registrar Servicio de Habitación
        {% endif %}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div id="form-container" class="modal-body" >
    <form id="form-servicio-habitacion" method="POST" enctype="multipart/form-data" 
    action="{% if form.instance.pk %}{% url 'servicio_habitacion_editar' form.instance.pk %}{% else %}{% url 'servicio_habitacion_crear' %}{% endif %}">
        {% csrf_token %}
        <!-- Campo de Nombre -->
        <div class="mb-3">
            {{form.nombre|as_crispy_field}}
            {% if form.nombre.errors %}
                <div class="error-message">{{ form.nombre.errors.0 }}</div>
            {% endif %}
        </div>
        <!-- Campo de Búsqueda de Iconos -->
        <div class="mb-3">
            <label for="icon-search" class="form-label">Icono</label>
            <div class="input-group mb-2">
                <span class="input-group-text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input id="busqueda" type="text" class="form-control" placeholder="Escribe para buscar...">
            </div>
        </div>

        <!-- Input oculto para guardar el icono seleccionado -->
        <input type="hidden" id="icono-seleccionado" name="icono" value="{{ form.icono.value|default:'' }}">
        <!-- Lista de Iconos -->
        <div class="icon-container" id="icon-container">
            {% for icono in iconos %}
                <div class="icon-option {% if icono == form.icono.value %} selected {% endif %}" data-icono="{{ icono }}">
                    <i class="fas {{ icono }}"></i>
                </div>
            {% endfor %}
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" form="form-servicio-habitacion" class="btn btn-principal">Guardar</button>
        </div>
    </form>
</div>
