{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>{{ tipoHab.nombre }}</h2>
    <p><strong>Precio:</strong> ${{ tipoHab.precio }}</p>
    <p><strong>Capacidad máxima:</strong> {{ tipoHab.capacidad_maxima }} personas</p>

    <h3>Fotos</h3>
    <div class="row">
        {% for foto in tipoHab.fotos.all %}
        <div class="col-md-4 mb-4">
            <img src="{{ foto.imagen.url }}" class="img-fluid" alt="Foto {{ forloop.counter }}">
        </div>
        {% endfor %}
    </div>

    <a href="{% url 'lista_tipos_habitacion' %}" class="btn btn-secondary">Volver</a>
</div>
{% endblock %}